@model IEnumerable<SimpleBlog.ViewModels.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var post in Model)
{
    <div class="row post">
        <div class="col-lg-12">
            <h1>@post.Title</h1>
            <p class="post-body">
                @post.Body
            </p>
        </div>
    </div>
}