.vs/*
artifacts/*
SimpleBlog/bower_components/*
SimpleBlog/node_modules/*
SimpleBlog/bin/*
SimpleBlog/Properties/PublishProfiles/*
src/SimpleBlog/bower_components/*
src/SimpleBlog/node_modules/*
src/artifacts/*
src/SimpleBlog/Properties/PublishProfiles/*
src/SimpleBlog.Web/bower_components/*
src/SimpleBlog.Web/node_modules/*
src/SimpleBlog.Web/bin/*
src/SimpleBlog.Web/bin/*
src/SimpleBlog.Web/project.lock.json
src/*/*.user
